// brand colors

$black: #333333;
$white: #ffffff;
$grey: #828080;
$light-grey: #aaaaaa;
$super-light-grey: #fdfdfd;
$not-so-light-grey: #f2f2f2;
$darkest-grey: #252323;
$red: #7c0000;
$dark-red: #46010a;

// usage
$color-background: $super-light-grey;
$color-background-footer: $not-so-light-grey;
$color-primary: $black;
$color-secondary: $grey;
$color-link: $grey;
$color-link-hover: $light-grey;