$spacing-x-small: 5px;
$spacing-small: 10px;
$spacing-regular: 20px;
$spacing-large: 30px;
$spacing-x-large: 40px;
$spacing-xx-large: 80px;

$grid-width-max: 1200px;

$border-radius: 3px;
$border-width: 3px;




// // between primary and secondary text
// $mobile-tiny-space: 5px;
// $desktop-tiny-space: 5px;

// // within elements
// $mobile-small-space: 15px;
// $desktop-small-space: 20px;

// // between elements within a component
// $mobile-regular-space: 20px;
// $desktop-regular-space: 30px;

// // between components
// $mobile-large-space: 30px;
// $desktop-large-space: 60px;

// // between a group of components
// $mobile-extra-large-space: 60px;
// $desktop-extra-large-space: 100px;